<!-- <div class="header-content">
    <div class="header-text">
      <h1>
        There is no Friend
        <span>As Loyal</span>
        as a <span>Book</span>
      </h1>
      <p>
        Books are the world's largest repository of knowledge and information.
        Books have the solutions to every problem and are best friends who will
        never leave anyone. Reading books from various genres helps us think and
        analyse in various ways.
      </p>
      <a href="#" class="header-btn" routerLink="/login"
        >Go To Login</a
      >
    </div>
    <div class="header-image">
      <img src="assets/images/bookillus.jpg" />
    </div>
  </div> -->
  <section class="dashboard" id="dashboard">
    <div class="dashboard-slider">
      <div class="wrapper">
        <div class="slide">
          <div class="content">
            <span>Best Seller Books</span>
            <h3>By Colleen Hoover</h3>
            <p>New York Times Best Selling Author</p>
           
          </div>
          <div class="slideimage">
            <img src="assets/images/Itendswithus.jpg" alt="" />
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <span>For the Book Worms</span>
            <h3>By Chris Lloyd</h3>
            <p>A thoughtful Haunting thriller</p>
           
          </div>
          <div class="slideimage">
            <img src="assets/images/parisrequiem.jpg" alt="" />
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <span>For the Healthy Life </span>
            <h3>By Hector Garcia</h3>
            <p>to live a long and Happy life</p>
            
          </div>
          <div class="slideimage">
            <img
              src="assets/images/ikigai.jpg"
              alt=""
              style="width: 800px; height: 800px"
            />
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <span>For the Wealth </span>
            <h3>By James Clear</h3>
            <p>An Easy and Proven Way to Build Good Habits</p>
           
          </div>
          <div class="slideimage">
            <img
              src="assets/images/atomicHabits.jpg"
              alt=" "
              style="width: 500px; height: 500px"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="books" id="books">
    <h3 class="sub-heading">Our Best Sellers!</h3>
    <h1 class="heading">From Famous Authors</h1>
    <div class="box-container">
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/attitude.jpeg" alt="" />
        <h3>Attitude is Everything</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/alchemist.jpeg" alt="" />
        <h3>The Alchemist</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/subtleart.jpg" alt="" />
        <h3>The Subtle Art of Not Giving a F*ck</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/doglapan.jpg" alt="" />
        <h3>Doglapan</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/TheLoveHypothesis.jpg" alt="" />
        <h3>The Love Hypothesis</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/spanishlovedeception.jpeg" alt="" />
        <h3>Spanish Love Deception</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
    </div>
  </section>
  <section class="books" id="books">
    <h3 class="sub-heading">Books By Gen-z Favourite!</h3>
    <h1 class="heading">Colleen Hoover</h1>
    <div class="box-container">
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/slammed.jpg" alt="" />
        <h3>Slammed</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/remindersofhim.jpg" alt="" />
        <h3>Reminders of Him 💌</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/Itendswithus.jpg" alt="" />
        <h3>It Ends With Us</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/itstartwithus.jpg" alt="" />
        <h3>It Starts with Us</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/maybesomeday.jpg" alt="" />
        <h3>May Be Someday</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/images/toolate.jpg" alt="" />
        <h3>Too Late</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#" class="btn">Add to Library</a>
      </div>
    </div>
  </section>
  
